.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color: rgb(205, 149, 89);
  }

  .btn{
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .input{
    margin-bottom: 10px;
    margin-top: 10px;
  }